#mainView{
  width: 90%;
  height: auto;
  margin-top: 70px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  display: -webkit-flex;
  -webkit-flex-direction: column;
  -webkit-justify-content: flex-start;
  display: -moz-flex;
  -moz-flex-direction: column;
  -moz-justify-content: flex-start;
  text-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
  color: white;
}

#iconView{
  display: flex;
  flex-direction: row;
  justify-content: center;
  display: -webkit-flex;
  -webkit-flex-direction: row;
  -webkit-justify-content: center;
  display: -moz-flex;
  -moz-flex-direction: row;
  -moz-justify-content: center;
  text-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  width: 100%;
  height: auto;
}

.articles{
  width: 225px;
  height: 300px;
  border: solid;
  display: flex;
  flex-direction: column;
  justify-content: center;
  display: -webkit-flex;
  -webkit-flex-direction: column;
  -webkit-justify-content: center;
  display: -moz-flex;
  -moz-flex-direction: column;
  -moz-justify-content: center;
  text-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
  margin: 20px;
  background-color: rgba(16, 51, 111, 0.95);
  padding-bottom: 10px;
  padding-top: 10px;
  border-radius: 20px;
  color: white;
}

.projectIcon{
  width: 100px;
  height: 50%;
}
.iconTilte{
  margin-bottom: 5px;
  margin-top: 15px;
}
.publishedOn{
  margin-bottom: 5px;
  margin-top: 5px;
}
.descIcon{
  font-size: .7em;
  margin-bottom: 5px;
  margin-top: 5px;
}
#catagoryFilter{
  width: 30%;
  height: auto;
  font-size: 1.4em;
}

a{
  color: white;
}

#projectTitle{
  font-family: 'Permanent Marker', cursive;
  font-size: 3em;
  margin-bottom: 0;
  margin-top: 5px;
}

#projectDesc{
  font-family: 'Old Standard TT', serif;
  font-size: 1.4em
}

.FullViewTitle{
  font-size: 4em;
  font-family: 'Permanent Marker', cursive;
  margin: 0px;

}

.fullViewImg{
  width: 700px;
  height: 800px;
}

.fullViewDesc{
  font-family: 'Old Standard TT', serif;
  font-size: 1.5em;
}

.fullViewLink{
  font-size: 2em;
  font-family: 'Fredericka the Great', cursive;
  margin: 10px;
}

.created{
  font-size: 1em;
  font-style: italic;
  font-family: 'Fredericka the Great', cursive;
}
